@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 39 35 18; /* #fbfaec */
    --foreground: 30 29 27; /* #1e1d1b */
    --card: 39 35 18;
    --card-foreground: 30 29 27;
    --popover: 39 35 18;
    --popover-foreground: 30 29 27;
    --primary: 220 83 77; /* #dc515d */
    --primary-foreground: 39 35 18;
    --secondary: 204 198 188; /* #cdc6bc */
    --secondary-foreground: 30 29 27;
    --muted: 204 198 188;
    --muted-foreground: 30 29 27;
    --accent: 172 198 196; /* #acc6c4 */
    --accent-foreground: 30 29 27;
    --destructive: 220 83 77;
    --destructive-foreground: 39 35 18;
    --border: 204 198 188;
    --input: 204 198 188;
    --ring: 220 83 77;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-[#fbfaec] text-[#1e1d1b] font-['Quicksand',sans-serif];
  }
}
